<!DOCTYPE html>
{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detected Faults</title>
</head>
<body>
    <br><br>
    <h2 class="section-header">Faults Detected</h2><hr>
    <div class="content-section">
        <h4 style="color:rgb(27, 27, 27);">Generator:</h4>
        <p>{{data}}  </p><br>
        <p>{{data2}}  </p><br>
        <p>{{data3}}  </p><br>
    </div>
    
</body>
</html>
{% endblock content %}