{% extends "blog/base.html" %}
{% load static %}

{% block content %}

<html>
  <head>
    <script>
      function ekUpload(){
        function Init() {

          console.log("Upload Initialised");

          var fileSelect    = document.getElementById('file-upload'),
              fileDrag      = document.getElementById('file-drag'),
              submitButton  = document.getElementById('submit-button');

          fileSelect.addEventListener('change', fileSelectHandler, false);

          // Is XHR2 available?
          var xhr = new XMLHttpRequest();
          if (xhr.upload) {
            // File Drop
            fileDrag.addEventListener('dragover', fileDragHover, false);
            fileDrag.addEventListener('dragleave', fileDragHover, false);
            fileDrag.addEventListener('drop', fileSelectHandler, false);
          }
        }

        function fileDragHover(e) {
          var fileDrag = document.getElementById('file-drag');

          e.stopPropagation();
          e.preventDefault();

          fileDrag.className = (e.type === 'dragover' ? 'hover' : 'modal-body file-upload');
        }

        function fileSelectHandler(e) {
          // Fetch FileList object
          var files = e.target.files || e.dataTransfer.files;

          // Cancel event and hover styling
          fileDragHover(e);

          // Process all File objects
          for (var i = 0, f; f = files[i]; i++) {
            parseFile(f);
            uploadFile(f);
          }
        }
    }
      ekUpload();
    </script>
  </head>

  <body>
    <fieldset class="form-group">
      <h1 class="section-header">Upload Weather Dataset</h1><hr>
    </fieldset>
    <!-- Upload  -->
    <form id="file-upload-form" class="uploader" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input id="file-upload" type="file" name="file2" accept="image/*" multiple/>

      <label for="file-upload" id="file-drag">
        <img id="file-image" src="#" alt="Preview" class="hidden">
        <div id="start">
          <i class="fa fa-download" aria-hidden="true"></i>
          <div>Select a file or drag here</div>
          <!-- <div id="notimage" class="hidden">Please select an image</div> -->
          <button id="file-upload-btn" class="btn btn-primary" type="submit">Select a file</button>
        </div>
      </label>
    </form>

    {% if messages %}

          <div class="messages">
            
            {% if message.tags %} class="{{ message.tags }}"{% endif %}{{ message  }}
            
          </div>
      {% endif %}
    
  </body>
</html>

{% endblock content %}